/*Importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');

:root {
    overscroll-behavior: none;
}
* {
    margin: 0;
    padding: 0;

    font-family: "Fredoka";

    --color-black : rgb(0, 0, 0);
    --color-white: rgb(255,255,255);
    --color-gray-1: rgb(225,225,225);
    --color-gray-2: rgb(200,200,200);
    --color-gray-3: rgb(100,100,100);
    --color-green: rgb(100,240,100);

    --color-fade: rgba(0, 0, 0, 0.25);
}



/*header*/
header {
    /*Colors for the header*/
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: 0px 5px 8px var(--color-fade);
    top: 0;
    position: sticky;
}

/*The little webpage scroll progress box*/
.progress-box {
    width: 100%;
    height: 10px;
}
#progress-filling {
    width: 0%;
    height: 10px;
    background-color: var(--color-gray-3);
}

/*Center all headings*/
h1, h2 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

/*Formatting for them menu bar*/
nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

/*individual menu items*/
nav li {
    /*spacing*/
    margin: 0;
    margin-right: 5vw;
    margin-bottom: 10px;

    /*font look*/
    font-size: larger;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}


/*main*/
/*Buttons for records.html*/


.actual-btn {
    border: none;
    border-radius: 10px;
    
    background-color: var(--color-black);
    transition: background-color 0.3s ease, transform 0.3s ease;

    color: var(--color-white);
    font-size: larger;

    width: 90%;
    min-width: 100px;
    height: 3em;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    
    opacity: 0;
    
    animation: fadeIn 1s forwards;
}

/*Fade in effect*/
@keyframes fadeIn {
    to {
        opacity: 0.8;
        
    }
}

.actual-btn:hover {
    background-color: var(--color-green);
    color: var(--color-black);

    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 10px 10px var(--color-fade);
}

#record-btn-container {
    display: none;
    flex-direction: row;
    opacity: 0;
    animation: fadeIn 1s forwards;

    position: sticky;
    top: 106px;
    z-index:100;
    

    /*Horizantal Scrolling*/
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

/*Making the scroll bar invisible for chromium based browsers*/
#record-btn-container::-webkit-scrollbar {
     display: none;
}

#record-btn-container > * {
    display: inline-block;
    width: 20%;
}

#record-btn-container.loaded {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

img {
    max-width: 80%;
    box-shadow: 0px 5px 8px var(--color-fade);
    border-radius: 10px;
}



main {
    padding: 15px;
    background-color: var(--color-gray-2);
}



/*Reading panel*/
.main-page {
    background-color: var(--color-white);
    padding: 1em;
    padding-top: 1em;
    margin: 0 auto;

    margin-top: 0;
    transition: margin-top 0.5s ease;

    max-width: 500px;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 5px 8px var(--color-fade);
}

.main-page.slidedown {
    margin-top:3em;
}

footer {
    background-color: var(--color-gray-2);
    text-align: center;
    padding-bottom: 1em;
}
