html {
    height: 100%;
    overscroll-behavior: none;
}

* {
    /*Base Template settings*/
    color: var(--light-grey-color);
    font-family: 'Courier New', Courier, monospace;


    /*Color pallet*/
    --black-color: black;
    --grey-color: rgb(35, 35, 43);
    --light-grey-color: white;
    --green-color: rgb(94, 165, 98);
    --faded-grey-color: rgba(177, 177, 177, 0.75);
    --monitor-glow: rgba(255, 255, 255, 0.479);


    /*Custom Property*/
    --spacer_3: 2vw;
}



/*Scroll reader that keeps track of reading an page*/
.scroll-reader {
    height: 1vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--faded-grey-color);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-reader linear;
    animation-timeline: scroll();
    /*This is the property selected by the @keyframes to animate*/
}

/*Scroll reader's animation per each keyframes*/
@keyframes scroll-reader {
    to {
        /*1 1 just means on the x and y axis when the animation is over*/
        scale: 1 1;
    }
}

body {
    background-color: var(--black-color);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

header {
    /*Colors and formatting*/
    background-color: var(--black-color);
    margin: 0;
    padding: 0;

    /*Center Header Text*/
    text-align: center;

    /*Drop Shadow*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

/*less padding beneath the header text*/
header h1 {
    margin-bottom: 0;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}


.menu-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: auto;
}

.menu-bar li {
    margin-right: 20px;
}

.menu-bar button {
    /*Formatting*/
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    font-size: larger;
    background: none;
    border: none;

    width: 100%;
    height: 100%;
    /*Color*/
    color: var(--light-grey-color);
    transition: font-style 0.1s ease;
}

.menu-bar button:hover {
    /*Hover Effects*/
    color: var(--green-color);
    font-weight: bolder;
    font-style: italic;
}

main {
    background-color: var(--grey-color);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    flex: 1;
}

.scroll-tiles {

    /*Creating the scrolling section*/
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    gap: var(--spacer_3);
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    /*centering the row*/
    justify-content: center;
    align-items: center;

    /*Hide the Scroll bar for webkit browsers like chrome*/
    -webkit-overflow-scrolling: touch;
    /*...and for FireFox*/
    scrollbar-width: none;
}

/*Hiding the horizontal scrollbar for other browsers*/
.scroll-tiles::-webkist-scrollbar {
    display: none;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer_3);
    /*Custom property*/
}

/*This grabs all the children of the snap inline class (tiles)*/
.snaps-inline>* {
    scroll-snap-align: start;
}

/*Tiles are the selections for multiple schedules and reports*/
.tiles {
    /*Formatting*/
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;

    padding-right: 5px;
    padding-left: 5px;
    /*Centering Text and setting width and hieght of each tile*/
    justify-content: center;
    text-align: center;
    align-items: center;


    width: 18vw;
    height: 3rem;
    font-size: larger;
    transition: background-color 0.3s ease;

    /*Interesting round corners!*/
    border-radius: 8px;
    /*Colors*/
    background-color: var(--black-color);
    color: var(--light-grey-color);

}

.tiles button {
    background: none;
    border: none;
    color: var(--light-grey-color);
    font-size: large;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*When A Tile is hovered over, it turns to green just like the nav bar*/
.tiles:hover {
    /*Hover Effects*/
    background-color: var(--green-color);
    font-weight: bolder;
    box-shadow: 0ch 0px 10px var(--monitor-glow);
}



section {
    background-color: var(--light-grey-color);
    margin: 0 auto;

}

/*Mobile*/
.page-elements {
    /*Formatting*/

    height: fit-content;
    max-width: 325px;
    border-radius: 10px;
    box-shadow: 0ch 0px 10px var(--monitor-glow);
}

@media (min-width: 750px) {
    .page-elements {
        /*Formatting*/

        height: fit-content;
        max-width: 450px;
        border-radius: 10px;
        box-shadow: 0ch 0px 10px var(--monitor-glow);
    }
}

/*page headline*/
h3 {
    color: var(--black-color);
    padding-top: 1vh;
}

p {
    font-size: large;
}

img {
    box-shadow: 0 4px 8px var(--faded-grey-color);
}

#page-text {
    color: var(--black-color);
    padding: 2ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#bold-me {
    font-weight: bolder;
}

/*AI generated footer code*/
footer {
    background-color: var(--black-color);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 3em;
}