* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    --grad-color1: rgb(30, 29, 49);
    --grad-color2: rgb(10, 51, 78);

    --white-color: rgb(220,220,220);
    --gray-color: rgb(200,200,200);

    --green-accent: rgb(110, 200, 170);
}

/* White Background blob */
.container {
 width: 100%;
 min-height: 100vh;
 background: linear-gradient(135deg, var(--grad-color1), var(--grad-color2));
 padding: 10px;
}
.todo-app {
    
    width: 100%;
    max-width: 540px;
    background: var(--white-color);
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: var(--grad-color1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.todo-app h2 img {
    width: 30px;
    margin-left:10px;
}

/*task list that is created*/


#task-list {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#task-list a {
    width: 100%;
    text-align: left;
    padding: 1em;
    background: var(--green-accent);
    border-radius: 5px;
    margin-top: 1em;

    text-decoration: none;
    text-align: center;
    color: var(--grad-color1);
    
}




/*Task input area*/

.row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-color);
    border-radius: 30px;
    padding-left: 10px;

    height: 4em;
}

#input-box {
    background: none;
    border: none;
    width: 100%;
    height: 4em;
    outline: none;
    font-weight: bolder;
    font-size: larger;
}

.row button {
    
    /*A little bigger than the task area so that touch screens can easily add tasks*/
    background: none;
    background-color: var(--green-accent);
    border: none;
    border-radius: 30px;
    width: 4em;
    height: 3em;

    font-weight: bolder;
    font-size: larger;

}